
img
{
	width: 100%;
}
.cover
{
	cursor: pointer;
}
.cover .image
{
	position: relative;
	display: block;
	width: 100%;
}
.cover .image::after
{
	content: '';

	background: url(images/icon_plus.png) no-repeat center center;
	background-color: rgba(0,188,156, 0.9);
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity .3s ease-out;

	position: absolute;
	top: 0;
	left: 0;
}
.cover:hover .image::after
{
	opacity: 1;
}
.arrow_button
{
	width: 40px;
	height: 40px;
	display: block;
	border-radius: 3px;
	background: url(images/icon_up.png) no-repeat center center;
	background-color: #3c5065;
	opacity: .5;
}
.arrow_button:hover
{
	background: url(images/icon_up_2.png) no-repeat center center;
	background-color: #506a85;
	opacity: 1;
}
.clear:after 
{
	content: '';
	clear: both;
}
.navbar_header {
	background-color: #f5f7f9;
	box-shadow: 0.5px 0.866px 0px #e5e9ed;

	margin-bottom: 0.866px;
}
header .contact {
	display: inline-block;
}
header .contact div, header .contact a
{
	display: inline-block;
	line-height: 40px;
	padding-left: 20px;
	padding-right: 20px;

	font-size: 12px;
	color: rgb(80,106,133);
	font-family: "Source Sans Pro";
}
header .contact .mobile {
	background: url(images/icon_mobile.png) no-repeat 2px 13px;
}
header .contact .mail {
	background: url(images/icon_mail.png) no-repeat 0 center;
	transition: .3s ease-out;
	transition-property: background, color;
}
header .contact .mail:hover
{
	background: url(images/icon_mail_2.png) no-repeat 0 center;
	color: #009f84;
}
.social 
{
	float: right;

	display: inline-table;
	line-height: 0.7;
}
.social a
{
	position: relative;
	display: inline-block;
	height: 40px;
	width: 30px;
}
.social a::after
{
	content: '';
	display: block;
	width: 100%;
	height: 0;
	transition: height 0.2s ease-out;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.social a::before
{
	content: '';
	display: block;
	width: 13px;
	height: 13px;
	transition: all 0.2s ease-out;

	position: absolute;
	top: 13.5px;
	left: 8.5px;
	z-index: 2;
}
.facebook::before
{
	background: url(images/icon_facebook.png) no-repeat center center;
}
.gplus::before
{
	background: url(images/icon_gplus.png) no-repeat center center;
}
.twitter::before
{
	background: url(images/icon_twitter.png) no-repeat center center;
}
.pinterest::before
{
	background: url(images/icon_pinterest.png) no-repeat center center;
}
.behance::before
{
	background: url(images/icon_behance.png) no-repeat center center;
}
.dribbble::before
{
	background: url(images/icon_dribbble.png) no-repeat center center;
}
.facebook::after
{	
	background-color: #4567b3;
}
.gplus::after
{
	background-color: #dd5745;
}
.twitter::after
{
	background-color: #2fbbed;
}
.pinterest::after
{
	background-color: #d94347;
}
.behance::after
{
	background-color: #2f79ff;
}
.dribbble::after
{
	background-color: #eb6397;
}
.facebook:hover::before
{	
	background: url(images/icon_facebook_1.png) no-repeat center center;
}
.gplus:hover::before
{
	background: url(images/icon_gplus_1.png) no-repeat center center;
}
.twitter:hover::before
{
	background: url(images/icon_twitter_1.png) no-repeat center center;
}
.pinterest:hover::before
{
	background: url(images/icon_pinterest_1.png) no-repeat center center;
}
.behance:hover::before
{
	background: url(images/icon_behance_1.png) no-repeat center center;
}
.dribbble:hover::before
{
	background: url(images/icon_dribbble_1.png) no-repeat center center;
}
.facebook:hover::after
{	
	height: 100%;
}
.gplus:hover::after
{
	height: 100%;
}
.twitter:hover::after
{
	height: 100%;
}
.pinterest:hover::after
{
	height: 100%;
}
.behance:hover::after
{
	height: 100%;
}
.dribbble:hover::after
{
	height: 100%;
}
.navbar 
{
	box-shadow: 0.5px 0.866px 0px #e5e9ed;
	background-color: #ffffff;

	margin-bottom: 1px;
}
.navbar .logo
{
	width: 161px;
	height: 40px;
	display: inline-block;
	transition: opacity .2s ease-out;

	margin-right: 65px;
}
.navbar .logo:hover
{
	opacity: .7;

}
header .nav 
{
	display: inline-block;
	width: 100%;
	position: relative;
	z-index: 0;
	padding: 30px 0 31px;
}
.nav_links
{
	display: inline-block;
}
.nav_links>a, .dropdown_list>a, .dropdown_menu>a
{
	display: inline-block;
	line-height: 50px;
	transition-property: box-shadow, color, background;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;

	padding: 0 19.5px 0;

	font-size: 15px;
	letter-spacing: 0.2px;
	color: rgb(80,106,133);
	font-family: "Source Sans Pro";
	font-weight: bold;
	text-align: center;

	position: relative;
	z-index: 2;
}
.nav_links>a:hover
{
	box-shadow: 5px 8.66px 10px rgba(0,0,0,0.1);
	background-color: #f5f7f9;
	border: 1px solid #e5e9ed;
	line-height: 48px;
	border-radius: 3px 3px 0 0;

	color: #00bb9b;
}
.dropdown_list>a:hover, .dropdown_list:hover>a, .dropdown_menu:hover>a, .dropdown_menu>a:hover
{
	background-color: #f5f7f9;
	border: 1px solid #e5e9ed;
	line-height: 48px;
	border-bottom: none;	
	color: #00bb9b;

	border-radius: 3px 3px 0 0;
}
.dropdown_list
{
	position: relative;
	display: inline-block;
	line-height: 50px;
}
.dropdown_list ul
{
	display: none;
	position: absolute;
	top: 48px;
	left: -20px;
	box-shadow: 0 10px 10px rgba(0,0,0,0.15);
	background-color: #f5f7f9;
	border-radius: 0 3px 3px 3px;

	z-index: 1;
}
.dropdown_menu
{
	display: inline-block;
}
.dropdown_menu>div
{
	display: none;
	box-shadow: 0 10px 10px rgba(0,0,0,0.15);
	border: 1px solid #e5e9ed;
	border-radius: 3px;
	background-color: #f5f7f9;
	width: 100%;
	position: absolute;
	top: 78px;
	left: 0;
	padding: 35px 40px 40px;
	z-index: 1;
}
.dropdown_list:hover ul, .dropdown_list li, .dropdown_menu:hover>div
{
	display: block;
}
.dropdown_list li a
{
	display: block;
	width: 208px;
	line-height: 43px;
	height: 43px;
	background-color: #f5f7f9;

	box-shadow: 5px 8.66px 10px rgba(0,0,0,0.1);
	border: 1px solid #e5e9ed;
	border-radius: 3px;

	font-size: 15px;
	color: #73879c;
	font-family: "Source Sans Pro";
	font-weight: bold;

	padding-left: 19px;
}
.dropdown_list li a:hover
{
	background-color: #00bb9b;
	color: #edfaf8;
	cursor: pointer;
	transition: all .2s ease-out;
}
.dropdown_menu>div>div
{
	display: inline-block;
	width: 239px;
	margin-right: 29px;
	vertical-align:  text-top;
}
.dropdown_menu .tittle
{
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 22px;
	color: rgb(80,106,133);
	font-family: "Lato";
	font-weight: bold;
}
.dropdown_menu .text
{
	font-size: 14px;
	line-height: 22px;
	color: rgb(115,135,156);
	font-family: "Source Sans Pro";
}
.dropdown_menu .button
{
	font-size: 14px;
	height: 39px;
	font-family: "Source Sans Pro";
	font-weight: bold;
	padding-left: 19px;
	padding-right: 19px;
	margin: 0;
	box-shadow: 0.5px 2px 0px #009f84;
}
.focus_on_menu .tittle
{
	margin-bottom: 30px;
}
.focus_on_menu .text
{
	margin: 27px 0;
}
.special_pages_menu ul
{
	margin: 0;
	padding-left: 2px;
}
.special_pages_menu li::before
{
	content: '';
	display: inline-block;
	width: 16px;
	height: 8px;
	background: url(images/circle_list_item.png) no-repeat;
}
.special_pages_menu li 
{
	display: block;
	list-style-type: none;
}
.special_pages_menu li a
{
	font-size: 14px;
	line-height: 28px;
	color: rgb(80,106,133);
	font-family: "Source Sans Pro";
}
.special_pages_menu li a:hover
{
	color: #00bb9b;
}
.latest_works_menu .cover
{
	display: inline-block;
	max-width: 117px;
	margin-bottom: 5px;
}
.latest_works_menu .tittle
{
	margin-bottom: 25px;
}
.about_us_menu
{
	margin: 0;
}
.about_us_menu .tittle
{
	margin-bottom: 20px;
}
.search
{
	width:  55px;
	height: 30px;
	cursor: pointer;
	display: inline-block;
	background: url(images/icon_search.png) no-repeat center center;
	margin-top: 12px;
	float: right;
}
.hero
{
	background: url(images/hero_background.jpg) no-repeat center 0;
	background-size: cover;
}
.hero .carousel
{
	padding: 293px 0 288px;
}
.hero .carousel .tittle
{
	font-size: 77px;
	letter-spacing: 5.4px;
	line-height: 70px;
	color: #fff;
	font-family: "Lato";
	text-align: center;
	font-weight: 900;

	margin-left: 7px;
}
.hero .carousel .text
{
	line-height: 34px;

	font-family: "Source Sans Pro";
	text-align: center;
	color: #a3b1bf;
	font-size: 22px;
	letter-spacing: 1.3px;

	margin-top: 22px;
}
.hero .carousel .btn 
{
	text-align: center;

	margin-top: 60px;
}
.main .btn a
{
	color: #fff;
	font-family: "Source Sans Pro";
	font-weight: bold;
	text-align: center;

	box-shadow: 0.5px 2px 0px #009f84;
}
.main .btn a:hover
{
	color: #fff;
}
.hero .carousel .btn a
{
	padding-left: 70px;
	padding-right: 67.2px;

	line-height: 32px;
	height:  63px;

	letter-spacing: 0.7px;
	font-size: 18px;
}
.who_we_are
{
	padding: 120.5px 0 109px;
}
.who_we_are .sub_tittle
{
	font-size: 44px;
	color: #506a85;
	font-family: "Lato";
	font-weight: bold;
	text-align: center;
	letter-spacing: 0.9px;

	line-height: 52px;

	margin: 0 -60px 27px;
}
.who_we_are .text
{
	font-size: 21.1px;
	color: #73879c;
	font-family: "Source Sans Pro";
	letter-spacing: 0.7px;
	text-align: center;

	margin: 0 0 73px;

	line-height: 34px;
}
.who_we_are .sub_text
{
	color: #73879c;
	font-family: "Source Sans Pro";
	letter-spacing: 0.2px;

	max-width: 300px;

	margin-right: -1px;
}
.about_us div
{
	padding-left: 27%;
}
.about_us .tittle
{
	font-size: 26px;
	letter-spacing: 1px;
	color: rgb(80,106,133);
	font-family: "Lato";
	font-weight: bold;

	line-height: 23.1px;

	margin-bottom: 25px;
}
.passion_container .tittle, .creativiy_container .tittle, .quality_container .tittle
{
	position: relative;
}
.passion_container .tittle::before
{
	content: '';
	left: -92px;
	position: absolute;
	display: inline-block;
	width: 61px;
	height: 53px;
	background: url(images/icon_hearth.png) no-repeat;
}
.creativiy_container .tittle::before
{
	content: '';
	left: -77px;
	position: absolute;
	display: inline-block;
	width: 46px;
	height: 65px;
	background: url(images/icon_lamp.png) no-repeat;
}
.quality_container .tittle::before
{
	content: '';
	left: -87px;
	position: absolute;
	display: inline-block;
	width: 56px;
	height: 53px;
	background: url(images/icon_star.png) no-repeat;
}
.latest_works
{
	background-color: #f1f5f7;

	padding: 112px 0 120px;
}
.latest_works .tittle
{
	font-size: 44px;
	letter-spacing: 0.9px;
	color: rgb(80,106,133);
	font-family: "Lato";
	font-weight: bold;
	text-align: center;
}
.latest_works .text
{
	font-size: 22px;
	color: #73879c;
	letter-spacing: 0.3px;
	font-family: "Source Sans Pro";
	text-align: center;

	padding-bottom: 57px;
}
.latest_works .figure
{
	margin-bottom: 82px;
}
.latest_works .figure .figcaption
{
	height: 110px;
	border-radius: 3px;
	background-color: #fff;
	box-shadow: 0.5px 0.866px 0px #e5e9ed;
}
.latest_works .figure .figcaption .sub_tittle
{
	font-size: 20px;
	letter-spacing: 0.6px;
	color: rgb(80,106,133);
	font-family: "Lato";
	font-weight: bold;
	text-align: center;

	padding: 26px 0 0;
	margin:  0;
}
.latest_works .figure:hover .figcaption .sub_tittle
{
	color: #00bc9c;
}
.latest_works .figure .figcaption .sub_text
{
	font-size: 14px;
	letter-spacing: 0px;
	color: #73879c;
	font-family: "Source Sans Pro";
	text-align: center;

	padding-top: 2.6px;
}
.latest_works .carousel>div
{
	padding-bottom: 10px;
}
.latest_works .carousel .cover .image::before
{
	display: inline-block;
	width: 100%;
	line-height: 160px;
	opacity: 0;
	transition: opacity 0.2s ease-out;

	content: '';
	font-size: 16px;
	color: #fff;
	font-family: "Lato";
	font-weight: bold;
	text-align: center;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.latest_works .carousel .cover .image.first::before
{
	content: 'Astor & Yancy';
}
.latest_works .carousel .cover .image.second::before
{
	content: 'Astor & Yancy';
}
.latest_works .carousel .cover .image.third::before
{
	content: 'Astor & Yancy';
}
.latest_works .carousel .cover .image.four::before
{
	content: 'Astor & Yancy';
}
.latest_works .carousel .cover .image.first::after
{
	content: 'Identity';
}
.latest_works .carousel .cover .image.second::after
{
	content: 'Identity';
}
.latest_works .carousel .cover .image.third::after
{
	content: 'Identity';
}
.latest_works .carousel .cover .image.four::after
{
	content: 'Identity';
}
.latest_works .carousel .cover:hover .image::before
{
	opacity: 1;
}
.latest_works .carousel .cover .image::after
{
	background-image: none;
	line-height: 185px;

	font-size: 14px;
	color: #fff;
	font-family: Source Sans Pro;
	text-align: center;

	padding-top: 15px;
}
.pag_container
{
	text-align: center;
	margin-top: 20px;
}
.pag_container>a, .pag_container>div
{
	display: inline-block;
}
.pag_container .left, .pag_container .right
{
	width: 30px;
	height: 30px;
}
.pag
{
	text-align: center;
}
.pag a
{
	display: inline-block;
	height: 15px;
	width: 21px;
	background: url(images/indicator_off.png) no-repeat center center;
}
.pag a:hover
{
	outline: none;
	background: url(images/indicator_on.png) no-repeat center center;
}
.get_in_touch
{
	padding: 111px 0 117px;
}
.get_in_touch .tittle
{
	font-size: 44px;
	letter-spacing: 1px;
	color: rgb(80,106,133);
	font-family: "Lato";
	font-weight: bold;
	text-align: center;

	margin-left: 2px;
}
.get_in_touch .text
{
	font-size: 22px;
	color: #73879c;
	letter-spacing: 0.3px;
	font-family: "Source Sans Pro";
	text-align: center;

	margin-left: 1px;
}
.get_in_touch .btn 
{
	text-align: center;

	margin-top: 21px;
}
.main .get_in_touch .btn a
{
	padding-left: 25px;
	padding-right: 23px;

	line-height: 19px;

	letter-spacing: 1px;
}
footer
{
	padding: 71px 0 0;

	background-color: #2f3f51;
}
footer .sub_tittle
{
	font-size: 16px;
	letter-spacing: 1.7px;
	color: #fff;
	font-family: "Lato";
	font-weight: bold;

	line-height: 19px;

	padding-bottom: 2px;
}
footer .text
{
	font-size: 14px;
	letter-spacing: 0.3px;
	color: #a3b1bf;
	font-family: "Source Sans Pro";

	line-height: 22px;
}
.who_we_are_small, .latest_works_small, .get_in_touch_small, .free_updates
{
	margin-bottom: 50px;
}
.who_we_are_small .logo
{
	display: inline-block;
	height: 32px;
	width: 129px;
	background: url(images/logo_white.png) no-repeat;
	transition: opacity .2s ease-out;

	margin-top: 6px;
}
.who_we_are_small .logo:hover
{
	opacity: 0.7;
}
.who_we_are_small .text
{
	padding-top: 12px;
	margin-bottom: 14px;
}
.who_we_are_small .more
{
	font-size: 15px;
	letter-spacing: 0.7px;
	color: #a3b1bf;
	font-family: "Source Sans Pro";
	font-weight: bold;

	transition: .3s ease-out;
	transition-property: background, color;
	width: 120px;
	display: inline-block;
	background: url(images/icon_arrow.png) no-repeat 105px center;
}
.who_we_are_small .more:hover
{
	color: #009f84;

	background: url(images/icon_arrow_1.png) no-repeat 110px center;
}
.latest_works_small .sub_tittle
{
	margin-bottom: 21px;
}
.latest_works_small .thumb
{
	display: inline-block;
	max-width: 125px;
	height: 85px;

	margin: 0 1px 5px 0;
}
.get_in_touch_small .contact div, .get_in_touch_small .contact a
{
	font-size: 14px;
	letter-spacing: 0.3px;
	color: #a3b1bf;
	font-family: "Source Sans Pro";

	padding-left: 20.3px;
	padding-bottom: 1px;
}
.get_in_touch_small .location
{
	background: url(images/icon_location_1.png) no-repeat 2px 4px;
}
.get_in_touch_small .mobile
{
	background: url(images/icon_mobile_1.png) no-repeat 2px 4px;
}
.get_in_touch_small .mail
{
	display: block;
	transition: .3s ease-out;
	transition-property: background, color;
	background: url(images/icon_mail_1.png) no-repeat 0 center;
}
.get_in_touch_small .mail:hover
{
	color: #009f84;

	background: url(images/icon_mail_2.png) no-repeat 0 center;
}
.free_updates .text
{
	max-width: 263px;
}
footer form
{
    position: relative;
}

footer form input[type="text"]
{
	height: 40px;
	background-color: #4e5c6b;
	border: none;

	font-size: 13px;
	letter-spacing: 0.4px;
	color: #818d99;

	padding-left: 11px;
}
footer form input[type="text"]:focus
{
	color: #fff;

	background-color: #4e5c6b;
	border: none;
	box-shadow: none;	
}
footer form .button
{
	position:  absolute;
	top: 0;
	right:  0;
	padding: 0px 7.5px 0;
	margin:  5px 5px 0 0;

	height: 28px;
	box-shadow: 0.5px 3px 0px #009f84;

	color: #fff;
	font-family: "Source Sans Pro";
	font-weight: bold;
}
.footer_ending
{
	margin-top: 20px;

	line-height: 82px;
	background-color: #273545;
}
.footer_ending .rights
{
	font-size: 14px;
	letter-spacing: 0.3px;
	color: rgb(112,126,140);
	font-family: "Source Sans Pro";

	display: inline-block;
}
.footer_ending .nav
{
	float: right;

	display: inline-table;
}
.footer_ending .nav div
{
	display: inline-block;

	font-size: 14px;
	font-family: "Source Sans Pro";
	text-align: center;
}
.footer_ending .nav a
{
	color: rgb(112,126,140);
	transition: color .3s ease-out;
}
.footer_ending .nav a:hover
{
	color: #009f84;
}
.footer_ending .nav div:not(.last)::after
{
	content: "·";
	font-family: "Source Sans Pro";
	color: rgb(112,126,140);

	display: inline-block;
	width: 24.3px;
}
.btn_scroll_up
{
	position:  fixed;
	bottom: 22px;
	right:  20px;
}
@media screen and (max-width: 640px) 
{
	.hero .carousel .tittle 
	{
		font-size: 45px;
		margin: 0;
	}
	.hero .carousel .btn a
	{
		padding: 0.85em 1em;
	}
	.footer_ending 
	{
		text-align: center;
	}
	.footer_ending .nav
	{
		float: none;
		line-height: 40px;
	}
}
@media screen and (max-width: 1024px)
{
	.who_we_are .sub_tittle
	{
		margin-left: 0;
		margin-right: 0;
	}	
}